.container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.container a {
    font-size: 2em;
}

.container a:hover, .container a.active {
    border-bottom: 2px solid black;
}